.del-image {
    position: absolute;
    z-index: 999;
    bottom: 60px;
    background-color: #00000078;
    padding: 10px;
    right: 22px;
    color: #ffffff;
    border: none;
}
.no-fixed{
  position: relative!important;
  z-index: 0!important;
}
.logo {
  margin-top: 10px;
}

.sticker_img{
  margin-bottom: 20px;
}
